

    <div class="container text-center">
    <h1 class="mt-10 mb-2 text-center capitalize text-4xl">Popular places</h1>
    <hr class="w-1/5 mx-auto">

    <!-- grids -->
    <div class="grid grids-cols-1 lg:grid-cols-3 lg:gap-3 justify-items-center">

        <!-- 1  -->
        <div class="py-10 gap-10">
            <div class="rounded overflow-hidden  shadow-lg   max-w-sm mt-5">
                <img class="w-full h-60 object-object-cover" src="https://th.bing.com/th/id/OIP.0aIUspj6hggRcCun3865uQHaE8?w=243&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7">
                <div class="px-3 py-3 flex justify-between">
                    <div class="text-left">
                      <div class="font-bold text-xl capitalize mb-0">Jaypur</div>
                      <p class="text-gray-400"> DEL -> JAI </p>
                    </div>
                    <div class="text-right">
                      <div class="font-bold text-xl capitalize mb-0">from ₹ 1600</div>
                      <p class="text-gray-400">26 apv 2023</p>
                    </div>
                  </div>
            </div>
         
            <!-- 1.1  -->
            <div class="rounded overflow-hidden  shadow-lg   max-w-sm mt-5">
              <img class="w-full h-60 object-object-cover" src="https://static2.tripoto.com/media/filter/tst/img/OgData/1579202925_varanasi_fotor.jpg">
              <div class="px-3 py-3 flex justify-between">
                 <div class="text-left">
                  <div class="font-bold text-xl capitalize mb-0">VARANASI</div>
                  <p class="text-gray-400"> DEL -> VNS </p>
              </div>
              <div class="text-right">
                <div class="font-bold text-xl capitalize mb-0">from ₹ 3998</div>
                <p class="text-gray-400">24 apv 2023</p>
              </div>
            </div>
          </div>

        </div>
        
        <!-- 2  -->
        <div class="py-10 gap-10">
            <div class="rounded overflow-hidden  shadow-lg   max-w-sm mt-5">
                <img class="w-full h-60 object-object-cover" src="https://th.bing.com/th/id/OIP.zQOPRzCjYpemIFXPqVXAcgHaEK?w=299&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7 ">
                <div class="px-3 py-3 flex justify-between">
                    <div class="text-left">
                      <div class="font-bold text-xl capitalize mb-0">AHEMADABAD</div>
                      <p class="text-gray-400"> DEL -> AMD </p>
                    </div>
                    <div class="text-right">
                      <div class="font-bold text-xl capitalize mb-0">from ₹ 2500</div>
                      <p class="text-gray-400">15 apv 2023</p>
                    </div>
                  </div>
            </div>

            <!--  2.1 -->
            <div class="rounded overflow-hidden  shadow-lg   max-w-sm mt-5">
                <img class="w-full h-60 object-object-cover" src=" https://th.bing.com/th/id/OIP.E-C9OWUKeD_hMk-ZeTXBjwHaEb?w=293&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7 ">
                <div class="px-3 py-3 flex justify-between">
                    <div class="text-left">
                      <div class="font-bold text-xl capitalize mb-0">JODHPUR</div>
                      <p class="text-gray-400"> DEL -> JDH </p>
                    </div>
                    <div class="text-right">
                      <div class="font-bold text-xl capitalize mb-0">from ₹ 3500</div>
                      <p class="text-gray-400">26 july 2023</p>
                    </div>
                  </div>
            </div>

        </div>
        
        
        <!-- 3  -->
        <div class="py-10">
            <div class="rounded overflow-hidden  shadow-lg max-w-sm mt-5">
                <img class="w-full h-60 object-object-cover" src="https://th.bing.com/th/id/OIP.0aIUspj6hggRcCun3865uQHaE8?w=243&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7">
                
                <div class="px-3 py-3 flex justify-between">
                    <div class="text-left">
                      <div class="font-bold text-xl capitalize mb-0">LUCKNOW</div>
                      <p class="text-gray-400"> DEL -> LKO  </p>
                    </div>
                    <div class="text-right">
                      <div class="font-bold text-xl capitalize mb-0">from ₹ 2800</div>
                      <p class="text-gray-400">6 apv 2023</p>
                    </div>
                  </div>
            </div>
            <div class="rounded overflow-hidden  shadow-lg   max-w-sm mt-5">
                <img class="w-full h-60 object-object-cover" src="https://th.bing.com/th/id/OIP.l24CKnG6Sji49LKcoxPe-AHaEK?w=326&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7">
               
                <div class="px-3 py-3 flex justify-between">
                    <div class="text-left">
                      <div class="font-bold text-xl capitalize mb-0">SIMALA</div>
                      <p class="text-gray-400"> DEL -> SLV  </p>
                    </div>
                    <div class="text-right">
                      <div class="font-bold text-xl capitalize mb-0">from ₹ 2999</div>
                      <p class="text-gray-400">26 may 2023</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
      


